.problem_table {
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}
.delete_popup{
  z-index: 1;
}

.problem_table th {
  width: 30%;
  text-align: left;
}

.problem_table td {
  text-align: left;
  
}

.problem_table tr, td, th {
  border: 2px solid forestgreen;
}

.searchBar{
  margin-left: 40%;
  margin-right: auto;
}

.problemContainer{
  margin-top: 5px;
  justify-content: center;
  z-index: 1;
}

.button_Attempt{
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 1px;
  color: green;
  padding: 7px;
  width: 100%;
}

.button_Edit{
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 1px;
  color: blue;
  padding: 7px;
  width: 100%;
}

.button_Delete{
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 1px;
  color: red;
  padding: 7px;
  width: 100%;
}

