.problem_table {
  width: 800px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.problem_table th {
  width: 10%;
  text-align: left;
}

.problem_table td {
  text-align: left;
  
}

.problem_table tr, td, th {
  border: 2px solid forestgreen;
}

.searchBar{
  margin-left: 40%;
  margin-right: auto;
}

.problemContainer{
  margin-top: 5px;
  justify-content: center;
}

.button_Attempt{
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 1px;
  color: green;
  padding: 1px;
  width: auto;
}

.button_Edit{
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 1px;
  color: blue;
  padding: 1px;
  width: auto;
}

.button_Delete{
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 1px;
  color: red;
  padding: 1px;
  width: auto;
}

