.App {
  text-align: center;
}

.nav-bar li {
  float: left;
  padding: 14px 16px;
  text-align: center;
  display: block;
  color: white;
  

}

.nav-bar li:hover {
  background-color: #111;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.introduction {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

.ListOfproblems {
  text-align: center;
  display: flex;
}

.compilerScreen{
  text-align: center;
}
.text-area{
  box-shadow: 10px;
  text-align: center;
}
.question-box{
  display: flex;
}

.question-area, .text-area{
  flex: 1;
  padding: 20px;
  border: 1px solid black;

}

.output {
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
  text-align: left;
}

.container-singin{
  width: 400px;
  max-width: 100%;
  margin: 50px auto;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}
.input-group{
  width: 100%;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.btn{
  width: 100%;
  padding: 12px;
  background-color: dodgerblue;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}